html {
  overflow-y: scroll;
}

body {
  background-color: #aaa;
}

main {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
}

@media screen and (max-width: 1200px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

figure {
  margin: 0;
  background-color: white;
  padding: 1rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

figcaption {
  text-align: center;
}

.col-2 {
  grid-column-end: span 2;
}

.row-break {
  grid-column-start: 1;
}
